body {
  font-family: "Montserrat", sans-serif;
  background: url("https://i.imgur.com/jhek7SV.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.corse {
  color: white;
}

.card {
  width: 300px;
  height: 410px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #fff;
}
.cart {
  width: 300px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #a19fa1;

  /* position: fixed; 
   top: 127px; 
   left: 75%;  */
  margin-top: -15px;
}

.photo {
  width: 250px;
  margin-top: 10px;
}
.creditPrice {
  display: flex;
  justify-content: space-evenly;
  color: rgba(28, 27, 27, 0.6);
  font-weight: 500;
}
.card-btn {
  color: white;
  width: 270px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #2f80ed;
  background: #2f80ed;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.card-btn:hover {
  background-color: #1e5db7; /* Change the background color on hover */
  transform: scale(1.05); /* Scale the button up slightly on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow on hover */
}

.course-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  justify-content: space-between;
}
.card-container {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.subject {
  color: #1c1b1b;
  font-size: 20px;
  font-weight: 700;
}
.titale {
  color: rgba(28, 27, 27, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.border {
  border: 1px solid rgba(28, 27, 27, 0.2);
  width: 80%;
  margin-left: 26px;
  text-align: center;
}
.remaning {
  color: #2f80ed;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.credit {
  color: white;
}
.subj {
  color: black;
  font-weight: 700;
  border: 2px solid #dddcdd;
  background-color: #dddcdd;
  border-radius: 10px;
  width: 80%;
  margin: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .card-container {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0; /* Remove the negative margin for mobile */
  }
  .cart,
  .photo {
    width: auto; /* Allow the cart width to adjust dynamically */
  }
  .card {
    width: auto;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .card-container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .cart {
    width: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #a19fa1;
    position: fixed;
    top: 127px;
    left: 75%;
    margin-top: -15px;
  }
}